//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/zvdy/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/zvdy/.local/share/rofi/themes/rounded-green-dark.rasi"
@theme "/home/zvdy/.local/share/rofi/themes/rounded-gray-dark.rasi"
